.container1{
    transition: 0.3s;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}


.container2{
    transition: 0.05s;
    max-width: 1600px;    
    margin: 0 auto;
    padding: 0 20px;
    padding-left: 310px;
}